@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Bold.woff2') format(woff2),
        url('../fonts/Quicksand-Bold.woff') format(woff);
        font-weight: 700;
        font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Medium.woff2') format(woff2),
        url('../fonts/Quicksand-Medium.woff') format(woff);
        font-weight: 500;
        font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Regular.woff2') format(woff2),
        url('../fonts/Quicksand-Regular.woff') format(woff);
        font-weight: 400;
        font-display: swap;
}



@font-face {
	font-family: 'Linearicons-Free';
	src:url('../fonts/Linearicons-Free.woff2?w118d') format('woff2'),
		url('../fonts/Linearicons-Free.woff?w118d') format('woff'),
		url('../fonts/Linearicons-Free.ttf?w118d') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.lnr {
	font-family: 'Linearicons-Free';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.lnr-cart:before {
	content: "\e82e";
}
.lnr-alarm:before {
	content: "\e858";
}
.lnr-heart:before {
	content: "\e813";
}
.lnr-envelope:before {
	content: "\e818";
}
.lnr-magnifier:before {
	content: "\e86f";
}
.lnr-list:before {
	content: "\e872";
}
.lnr-license:before {
	content: "\e822";
}
.lnr-user:before {
	content: "\e82a";
}
.lnr-users:before {
	content: "\e82b";
}
.lnr-cloud-download:before {
	content: "\e80b";
}
.lnr-smile:before {
	content: "\e854";
}
.lnr-briefcase:before {
	content: "\e84c";
}
.lnr-leaf:before {
	content: "\e849";
}
.lnr-magic-wand:before {
	content: "\e803";
}
.lnr-lock:before {
	content: "\e80f";
}
.lnr-phone:before {
	content: "\e831";
}
.lnr-chart-bars:before {
	content: "\e843";
}
.lnr-chevron-down:before {
	content: "\e874";
}
.lnr-bubble:before {
	content: "\e83f";
}
.lnr-map-marker:before {
	content: "\e833";
}
.lnr-eye:before {
	content: "\e81b";
}
.lnr-phone-handset:before {
	content: "\e830";
}
.lnr-clock:before {
	content: "\e864";
}
.lnr-inbox:before {
	content: "\e81a";
}
.lnr-star:before {
	content: "\e814";
}
.lnr-trash:before {
	content: "\e811";
}
.lnr-home:before {
	content: "\e800";
}
.lnr-cog:before {
	content: "\e810";
}
.lnr-dice:before {
	content: "\e812";
}
.lnr-upload:before {
	content: "\e866";
}
.lnr-book:before {
	content: "\e828";
}
.lnr-exit:before {
	content: "\e820";
}

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.ttf?wkcbdi') format('truetype'),
	  url('../fonts/icomoon.woff?wkcbdi') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-twitter:before {
	content: "\f099";
  }
  .icon-facebook:before {
	content: "\f09a";
  }
  .icon-facebook-f:before {
	content: "\f09a";
  }
  .icon-pinterest:before {
	content: "\f0d2";
  }
  .icon-linkedin:before {
	content: "\f0e1";
  }
  .icon-dribbble:before {
	content: "\f17d";
  }
  .icon-google:before {
	content: "\f1a0";
  }
  