@import 'vars';
@import 'global';
@import 'fonts';


.header__top {
    background-color: #eef1f3;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header__block {
    display: flex;
    align-items: center;
}
.header__btn-seller {
    margin: 0 auto;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    background-color: $blue-btn;
    padding: 4px 17px;
    border-radius: 10px;
}


.header__profil {
    margin: 0 48px 0 50px;
}

.header__profil-link + .header__profil-link {
    margin-left: 45px;
}

.header__profil-link {
    position: relative;
    font-family: 'Linearicons-Free';
    font-size: 20px;
    color: #7e8fa1;
}

.header__number {
    color: #fff;
    font-size: 14px;
    @include f500;
    text-align: center;
    line-height: 20px;
    right: -33px;
    top: -15px;
    border-radius: 50%;
    min-width: 22px;
    height: 22px;
}
.header__alarm::before {
    content: '\e858';
    position: absolute;
}

.header__number--alarm {
    position: absolute;
    background-color: #ff6a6c;
    min-width: 26px;
}

.header__envelope::before {
    content: '\e818';
    position: absolute;
}

.header__number--envelope {
    position: absolute;
    background-color: #62d03b;
}

.header__cart::before {
    content: '\e82e';
    position: absolute;
}

.header__number--cart {
    position: absolute;
    background-color: $blue-btn;
}

.header__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 20px;
    cursor: pointer;
}
.header__info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__name-autor {
    color: $text;
    font-weight: 500;
}
.header__name-price {
    font-size: 15px;
    line-height: 22px;
    color: $blue-btn;
}
.header__menu {
    background-color: #fff;
}
.header__menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header__list {
    display: flex;
    justify-content: flex-start;
    height: 80px;
    align-items: center;
    
}
.header__link {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    line-height: 42px;
    color: $text;
}
.header__item + .header__item {
    margin-left: 30px;
}
.header__form {
    position: relative;
}
.header__form-text {
    width: 360px;
    padding: 13px 80px 13px 25px;
    border-radius: 25px;
    border: 1px solid #d9dfe5;
    outline: transparent;
    ::placeholder {
        font-size: 15px;
        line-height: 30px;
        color: #898f96;
    }
}
.header__form-btn {
    position: absolute;
    background-color: $blue-btn;
    border: none;
    outline: transparent;
    padding: 13px 27px;
    border-radius: 25px;
    top: 0;
    right: 0;
    cursor: pointer;
}

.create {
    background-color: #2548cc;
    margin-bottom: 100px;
}

.create__inner {
    padding: 180px 0 135px;
    color: #f3f3f8;
    text-align: center;
}
.create__title {
    text-transform: capitalize;
    font-size: 60px;
    line-height: 70px;
}
.create__title span {
    display: block;
    @include f700;
}
.create__subtitle {
    font-size: 20px;
    line-height: 72px;
    @include f500;
    margin-bottom: 40px;
}
.create__link {
    display: inline-block;
    font-size: 16px;
    line-height: 55px;
    border-radius: 25px;
    padding: 0 30px;
}

.create__link--white {
    background-color: #fff;
    color: $blue-btn;
    margin-right: 30px;
}
.create__link--blue {
    background-color: transparent;
    color: #fff;
    border: 1px solid #d7def5;
}

.create__form {
    padding: 40px;
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    bottom: -72px;
    font-size: 0;
    // z-index: 1;
    display: flex;
}

.create__form::before {
    content: '';
    width: 98%;
    // padding: 40px 0 53px 0;
    padding: 13px 0 0 0;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    top: -13px;
    left: 1%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    // z-index: -1;
}
.create__form::after {
    content: '';
    width: 96%;
    // padding: 40px 0 66px 0;
    padding: 26px 0 0 0;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    top: -26px;
    left: 2%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    // z-index: -2;
}

.create__text {
    padding: 20px 30px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border: 1px solid #dcdcdc;
    outline: transparent;
    max-width: 600px;
    width: 100%;
    font-size: 16px;
    z-index: 998;
    &::placeholder {
        color: #676767;
        font-size: 16px;
    }
}

.create__select {
    border: 1px solid #dcdcdc;
    padding: 20px 0 20px 20px;
    font-size: 16px;
    appearance: none;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat; 
    background-position: 158px  50%;
    max-width: 190px;
    width: 100%;
    outline: transparent;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.create__item {
    font-size: 16px;
    color: #555;
}
.create__btn {
    font-size: 16px;
    color: #fff;
    background-color: $blue-btn;
    border: none;
    outline: transparent;
    padding: 20px 90px 20px 65px;
    border-radius: 8px;
    // margin-left: 30px;
    margin-left: auto;

}

.information {
    padding-bottom: 280px;
    padding-top: 120px;
}

.information__inner {
    display: flex;
    justify-content: space-between;
}
.information__item {
    max-width: 360px;
    text-align: center;
    padding: 0 33px;
    // box-shadow: 0px 0px 9px 7px rgba(214,206,214,1);
}

.information__img {
    margin-bottom: 40px;
}
.information__title {
    font-size: 24px;
    color: #000;
    margin-bottom: 25px;
}
.information__description {
    font-size: 16px;
    line-height: 30px;
    color: #555;
}
.slider {
    background-color: #eff1f5;
}

.slider__title {
    @include title;
    padding-bottom: 30px;
    border-bottom: 2px solid #e4e6ea;
    margin-bottom: 48px;
}
.slider__inner {
    margin-bottom: 270px;
    position: relative;
}

.slider__item-inner {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
.slider__img {
    width: 555px;
    height: 450px;
    min-width: 0;
}
.slider__info-box {
    max-width: 555px;
    padding: 0 58px 0 20px;
}
.slider__info-title {
    @include f500;
    font-size: 24px;
    color: #000;
    margin-top: 50px;
    margin-bottom: 15px;
}
.slider__author {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 33px;
}
.slider__author-link {
    display: inherit;
    align-items: inherit;
    @include f500;
    color: #000;
}
.slider__author-img {
    border-radius: 50%;
    margin-right: 15px;
}
.slider__author-name {
    margin-left: 45px;
    color: #7347c1;
    position: relative;
}
.slider__author-name::before {
    content: '';
    position: absolute;
    background-image: url(../img/wordpress.png);
    left: -26px;
    width: 16px;
    height: 16px;
}
.slider__text {
    font-size: 16px;
    color: #555;
    margin-bottom: 45px;
}
.slider__link + .slider__link {
    margin-left: 37px;
}
.slider__link {
    font-size: 15px;
    color: #868c96;
}
.slider__link-box {
    margin-left: 18px;
    margin-bottom: 75px;
}
.slider__btn-box {
    margin-left: 2px;
    display: flex;
    align-items: center;
}
.slider__btn {
    border: none;
    outline: transparent;
    font-size: 15px;
    &--price {
        @include f500;
        background-color: $blue-btn;
        color: #fff;
        padding: 9px 18px;
        border-radius: 10px;
        margin-right: 20px;
    }
    &--like {
        color: #555;
        margin-right: 20px;
        &::before {
            content: '\e813';
            font-family: 'Linearicons-Free';
            margin-right: 10px;
            color: #7347c1;
        }
    }
    &--basket {
        color: $blue-btn;
        &::before {
            content: '\e82e';
            font-family: 'Linearicons-Free';
            margin-right: 9px;
        }
    }
}

.slider__btn-rate {
    display: inline-block;
    margin-left: auto;
    
}

.slider__inner .slick-arrow{
    position: absolute;
    font-size: 0;
    border: none;
    outline: transparent;
    background-repeat: no-repeat;
    top: -120px;
}
.slider__inner .slick-arrow.slick-next {
    background-image: url(../img/arrow-right.png);
    background-position: 85px;
    right: 30px;
    width: 110px;
    height: 45px;
    border-radius: 15px;
    background-color: #7347c1;
}
.slider__inner .slick-arrow.slick-prev {
    background-image: url(../img/arrow-left.png);
    right: 104px;
    width: 8px;
    height: 14px;
    z-index: 2;
    top: -105px;
    background-color: transparent;
}



