@import 'vars';
@import 'global';
@import 'fonts';


.header__top {
    background-color: #eef1f3;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header__block {
    display: flex;
    align-items: center;
}
.header__btn-seller {
    margin: 0 auto;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    background-color: $blue-btn;
    padding: 4px 17px;
    border-radius: 10px;
}
.far,
.fas {
    color: #7e8fa1;
}

.header__profil {
    margin: 0 48px 0 50px;
}

.header__profil-link + .header__profil-link {
    margin-left: 34px;
}
.header__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 20px;
    cursor: pointer;
}
.header__info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__name-autor {
    color: $text;
    font-weight: 500;
}
.header__name-price {
    font-size: 15px;
    line-height: 22px;
    color: $blue-btn;
}
.header__menu {
    background-color: #fff;
}
.header__menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header__list {
    display: flex;
    justify-content: flex-start;
    height: 80px;
    align-items: center;
    
}
.header__link {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    line-height: 42px;
    color: $text;
}
.header__item + .header__item {
    margin-left: 30px;
}
.header__form {
    position: relative;
}
.header__form-text {
    width: 360px;
    padding: 13px 80px 13px 25px;
    border-radius: 25px;
    border: 1px solid #d9dfe5;
    ::placeholder {
        font-size: 15px;
        line-height: 30px;
        color: #898f96;
    }
}
.header__form-btn {
    position: absolute;
    background-color: $blue-btn;
    border: none;
    outline: transparent;
    padding: 13px 27px;
    border-radius: 25px;
    top: 0;
    right: 0;
    cursor: pointer;
}

.create {
    background-color: #2548cc;
    margin-bottom: 100px;
}

.create__inner {
    padding: 180px 0 135px;
    color: #f3f3f8;
    text-align: center;
}
.create__title {
    text-transform: capitalize;
    font-size: 60px;
    line-height: 70px;
}
.create__title--size {
    font-weight: 700;
}
.create__subtitle {
    font-size: 20px;
    line-height: 72px;
    font-weight: 500;
    margin-bottom: 40px;
}
.create__link {
    display: inline-block;
    font-size: 16px;
    line-height: 55px;
    border-radius: 25px;
    padding: 0 30px;
}

.create__link--white {
    background-color: #fff;
    color: $blue-btn;
    margin-right: 30px;
}
.create__link--blue {
    background-color: transparent;
    color: #fff;
    border: 1px solid #d7def5;
}

.create__form {
    padding: 40px;
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    bottom: -72px;
}
.create__form::before {
    content: '';

}
.create__text {
    padding: 20px 30px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border: 1px solid #dcdcdc;
    outline: transparent;
    width: 600px;
    &::placeholder {
        color: #676767;
        font-size: 16px;
    }
}

.create__select {
    border: 1px solid #dcdcdc;
    padding: 20px 0 20px 20px;
    font-size: 16px;
    appearance: none;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat; 
    background-position: right;
}

.create__item {
    font-size: 16px;
    color: #555;
}
.create__btn {
    font-size: 16px;
    color: #fff;
    background-color: $blue-btn;
    border: none;
    outline: transparent;
    padding: 20px 90px 20px 65px;
    border-radius: 8px;
    margin-left: 30px;
}

.information {
    padding-bottom: 280px;
    padding-top: 120px;
}

.information__inner {
    display: flex;
    justify-content: space-between;
}
.information__item {
    max-width: 360px;
    text-align: center;
    padding: 0 33px;
}

.information__img {
    margin-bottom: 40px;
}
.information__title {
    font-size: 24px;
    color: #000;
    margin-bottom: 25px;
}
.information__description {
    font-size: 16px;
    line-height: 30px;
    color: #555;
}